<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/standard.css">
    <div th:replace = "fragments/styling :: headStyles "></div>
    <title>Blog Post Site</title>
</head>
<body>
    
    <div th:replace = "fragments/navbar :: navbar "></div>
<div class="container">
    <h1>Welcome to our blog site</h1>
    <h3>Check out our blog posts</h3>
    
    <div class="row d-flex justify-content-around">
            <div th:each = "blog:${posts}">
                <div class="card col-md-6 p-0 mb-3" style="min-width: 18rem">
                <h4 class="card-header" th:text="${blog.title}"></h4>
                    <div class="card-body">
                    <p class="card-text" th:text="${blog.author}"/>
                    <p class = "card-text" th:text="${blog.blogEntry}"/>
                    </div>
                    <div class="card-footer">
                        <!-- This will have update,show or delete functions for the blog post -->
                        <form action="#" th:action= " @{/blogpost/{id}(id=${blog.id})}" th:method="delete">
                            <div class="form-group">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type = "submit" class="btn btn-danger btn-block " th:text= "delete">Delete</button>
                            </div>
                        
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <a th:href="@{/blogpost/new}">
            <button class="btn btn-primary">Create a New Post Here</button>
        </a>
</div>
        
<div th:replace=" fragments/styling :: javaScripts"></div>
</body>
</html>