<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/standard.css">
    <title>Blog Post Site</title>
</head>
<body>
    <div th:fragment="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type= "button" class=" navbar-toggle collapsed" 
                data-toggle="collapse" 
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded=" false" >
            <span class= "sr-only">Toggle Navigation</span>
            <span class= "icon-bar"></span>
            <span class= "icon-bar"></span>
            <span class= "icon-bar"></span>
            <a href="#" class="navbar-brand">Brand</a>
                </button>
            </div>
            <div class="collapse navbar-collapse" id= "bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)
                    </span></a></li>
                    <li>
                        <a href="#">Link</a>
                    </li>
                    <li class="dropdown">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Action1</a></li>
                        <li><a href="#">Action2</a></li>
                        <li role = "seperator" class="divider"></li>
                        <li><a href="#">Seperated Link</a></li>
                        <li role = "seperator" class = "divider"></li>
                        <li><a href="#">Another Seperated Link</a></li>
                        fbdjsaf
                        
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    </div>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>